@model IEnumerable<Mostashfety.BLL.ViewModels.MedicalVM.GetMedicalVM>
<div class="m-lg-5" style="margin-left: 20px;">
    <h2>Records List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>DoctorName</th>
                <th>PatientName</th>
                <th>Diagnosis</th>
                <th>Treatment</th>
                <th>Date</th>
                <th>Actions</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Id</td>
                    <td>@record.DoctorName</td>
                    <td>@record.PatientName</td>
                    <td>@record.Diagnosis</td>
                    <td>@record.Treatment</td>
                    <td>@record.Date</td>

                    
                    <td>
                        <a href="@Url.Action("Details", new { id = record.Id })" class="btn btn-info">Details</a>
                        <a href="@Url.Action("Edit", new { id = record.Id })" class="btn btn-warning">Edit</a>
                        <a href="@Url.Action("Delete", new { id = record.Id })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a href="@Url.Action("Create")" class="btn btn-success">Create New Record</a>
</div>